<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.moneyAllocation.repository.mybatis.AccountMapper">
    <resultMap id="Account" type="com.example.moneyAllocation.domain.Account" >
        <id property="id" column="ID" />
        <result property="name" column="NAME" />
        <result property="numFreeTransfer" column="NUM_FREE_TRANSFER" />
        <result property="transferFee" column="TRANSFER_FEE" />
        <result property="ownerId" column="OWNER_ID" />
    </resultMap>

    <select id="find" resultMap="Account">
        SELECT
        ID,
        NAME,
        NUM_FREE_TRANSFER,
        TRANSFER_FEE,
        OWNER_ID
        FROM
        ACCOUNT
        <where>
            <if test="ownerId != null">
                AND OWNER_ID = #{ownerId}
            </if>
        </where>
        ORDER BY ID
    </select>

    <insert id="add" parameterType="com.example.moneyAllocation.domain.Account" useGeneratedKeys="true"
        keyProperty="id">
        INSERT INTO ACCOUNT
        (
        NAME,
        NUM_FREE_TRANSFER,
        TRANSFER_FEE,
        OWNER_ID
        )
        VALUES
        (
        #{name},
        #{numFreeTransfer},
        <if test="transferFee != null">
            #{transferFee},
        </if>
        <if test="transferFee == null">
            default,
        </if>
        #{ownerId}
        )
    </insert>

</mapper>