<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.moneyAllocation.repository.mybatis.UserMapper">
    <resultMap id="User" type="com.example.moneyAllocation.domain.User">
        <id property="id" column="ID" />
        <result property="name" column="NAME" />
        <result property="password" column="PASSWORD" />
        <result property="email" column="EMAIL" />
        <result property="administratorFlag" column="ADMINISTRATOR_FLAG" />
    </resultMap>

    <select id="find" resultMap="User">
        SELECT
        ID,
        NAME,
        PASSWORD,
        EMAIL,
        ADMINISTRATOR_FLAG
        FROM
        USER
        <where>
            EMAIL = #{email}
        </where>
    </select>
</mapper>
